   <%- include ('../parts/head',{bot,user})%>
     
     
     <div class="container">
  <br><br>
<div class="container contact-form">
  <div class="contact-image">
      <i></i>
  </div>
  <script>
        (function(){
        var txt = $("input#guildID");
        var func = function() {
            txt.val(txt.val().replace(/\s/g, ''));
        }
        txt.keyup(func).blur(func);
    });
  </script>
  
  <form method="POST">
  <!--<input type="hidden" value="" name="_token" id="_token">
-->
      <h3></h3>
     <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                <label><i class='bx bx-home'></i> welcome to my dashboard<span style="color: rgb(175, 22, 22)">*</span></label>
                  <input type="hidden" name="guildID" id="guildID" class="form-control" placeholder="" value="<%=guild%>" required="required" disabled/>
              </div>
              <br><br>
                            <div class="form-group">
                              <label><i class='bx bx-bot'></i>  PREFIX <span style="color: rgb(175, 22, 22)">*</span></label>
                  <input type="text" name="prefix" id="prefix" class="form-control" placeholder="" value="<%=prefix%>"/>
              </div>
              <br><br>
                                        <div class="form-group">
                                          <label><i class='bx bx-bar-chart-alt-2' ></i> XP SYSTEM <span style="color: rgb(175, 22, 22)">*</span></label>
           <br>
               <br><input type="radio" name="xp" value="on" id="xp" />
   <label for="on">on</label>
   
   <input type="radio" name="xp" value="off" id="xp" />
   <label for="off"> off </label>
   <br />
             
              </div>        
              
      </div>  
      <br><br>






      <p class="text-muted">Spaces with <span style="color: rgb(175, 22, 22)">*</span> next to it are required.</p>

      
      <br/>
   
      
      <button type="submit" name="btnSubmit" class="btn btn-primary"><i class="fad fa-save"></i>Apply</button>
    
  </form>
  
</div>
</div>
     </div>
<br><br>
  
  
      <script>

     
      
 var urlParams = new URLSearchParams(window.location.search);



    if(urlParams.has('success') && urlParams.get('success')){
      

      const Toast = Swal.mixin({
  toast: true,
  position: 'top-end',
  showConfirmButton: false,
  timer: 4000,
  timerProgressBar: true,
  didOpen: (toast) => {
    toast.addEventListener('mouseleave', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})

Toast.fire({
  icon: 'success',
  title: 'applied successfully',
  text:urlParams.get('message'),
  footer: new Date() + '<br>' + 'BoBo Dashboard',
  
}).then(()=>{
  window.location.href ='/dashboard/guild/<%=guild.id%>';
})
}
    if(urlParams.has('error') && urlParams.get('error')){
    Swal.fire({
     icon: 'error',
     title: 'Oops...',
     text: urlParams.get('message'),
     footer: 'Copyright 2021   - All right reserved.'
    }).then((result) => {
  if (result.isConfirmed) {
    window.location.href = '/dashboard/guild/<%=guild.id%>';
  }    
})
    }
   </script>
<%- include ('../parts/foot')%>