<%- include ('../parts/head.ejs',{bot,user})%>
  <br>
  <br>
  
  <style>
    
   .container .enable-button{
     
     background:var(--nav-color);
     border:none;
     width:100%;
     border-radius:10%;
     height:230px;
     
    }
.container .enable-button i{
  
  color:var(--sharabi);
  font-size:50px;
  
    }
.container .disable-button{
  border-radius:10%;
  background:var(--nav-color);
  border:none;
    width:100%;
  height:230px;
  
    }
    .container .disable-button i{
      color:#767A81;
      font-size:50px;
      
    }
  </style>
  <div class="container">
    
    
   <div class="container contact-form">
     <form method="post">
    <div class="row">
     <% if(data.time !== null && cooldown - (Date.now() - data.time) > 0){ %>
       <div class="form-group">
         
         <h3> You Are claimed Your Daily</h3>
         <button  class="disable-button" disabled><i class="fa-solid fa-gift"></button>
           
           
          
        
           <p id="time"><%= times.h%>H <%= times.m%>M <%=times.s%> S</p>
             
             
      
           </div>
         <% }else{%>
       <div class="form-group">
         <h3> Claim You Daily</h3>
         
         
         
       <button type="submit" class="enable-button" id="myButton" onclick="onclick()">  <i class="fa-solid fa-gift"></i></button>
            </div>
       
       <% }%>
      </div>
     </form>
    </div>
    
    
    
  </div>
  
  <script>
    
    
var urlParams = new URLSearchParams(window.location.search);
    if(urlParams.has('success') && urlParams.get('success')){
    Swal.fire({
     icon: 'success',
     title: 'Successful...',
     closeOnConfirm: false,
     text: urlParams.get('message'),
     footer: 'Copyright 2021 &copy  - All right reserved.'
    }).then((result) => {
  if (result.isConfirmed) {
    window.location.href = `/daily`;
  }
})
      
      
      
      
}
    
    
  if(urlParams.has('error') && urlParams.get('error')){
    Swal.fire({
     icon: 'error',
     title: 'Oops...',
     text: urlParams.get('message'),
     footer: ' - All right reserved.'
    }).then((result) => {
      if (result.isConfirmed) {
        window.location.href = '/daily';
      }
    })} 

  function loadlink(){
    $('#time').load('/daily',function () {
         $(this).unwrap();
    });
}

loadlink(); // This will run on page load
setInterval(function(){
    loadlink() // this will run after every 5 seconds
}, 10000);
    
  
</script>
  
  
  <%- include ('../parts/foot.ejs')%>