
 <%- include ("../parts/head.ejs",{bot,user})%>
 <br>
   <br>
   
   
   <style>
     .card{
       border-radius: 13px;
       background:#1E1E1E;
     border-left: 3px solid #277ECD;
       border-left-top-radius: 2px;
     
     }
     .card2{
       border-radius:13px;
       background:#1E1E1E;
       border-left: 3px solid #A8C714;
       border-left-top-radius:2px;}
     .card3{
       border-radius: 13px;
       background:#1E1E1E;
       border-left: 3px solid #018872;
       border-left-top-radius:2px}
     
     
     .card4{
       border-radius:13px;
       background:#1E1E1E;
       border-left:3px solid #DA004E;
       border-left-top-radius:2px}
     .card-body{
       
       
       background:#1E1E1E}
     
     
     
     
     
   </style>

   
     
     
   <div class="container">
  <h3 class="all-header">Welcome to my dashboard </h3>

  
  
<% if(data){%>
  <div class="row">
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card bg-dark-200 border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            User Balance</div>
                      <hr>
                        <div class="h5 mb-0 font-weight-bold text-white">$<%=convert(data.money)%></div>
                    </div>
                    <div class="col-auto">
                        <i class="fal fa-robot fa-2x text-white"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

  
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card2 bg-dark-200 border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            User Information</div>
                      <hr>
                        <div class="h5 mb-0 font-weight-bold text-white"><%= data.info||"not set"%></div>
                    </div>
                    <div class="col-auto">
                        <i class="fal fa-robot fa-2x text-white"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card3 bg-dark-200 border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            User Rank</div>
                      <hr>
                        <div class="h5 mb-0 font-weight-bold text-white"><%= user_rank%></div>
                    </div>
                    <div class="col-auto">
                        <i class="fal fa-robot fa-2x text-white"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card4 bg-dark-200 border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            User Level</div>
                      <hr>
                        <div class="h5 mb-0 font-weight-bold text-white"><%= data.data.global_level%></div>
                    </div>
                    <div class="col-auto">
                        <i class="fal fa-robot fa-2x text-white"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

  
  
  
      </div>
  
  
   <% }%> 
    
     </div>
    
<div style="padding-bottom: 20px;"></div>
  
  
  

  
  

  
  
  
  
  
  
  
  
  
  
  
  <%- include ('../parts/foot.ejs')%>