
 <%- include ("../parts/head.ejs",{bot,user})%>
  <!--
<style>
  .container {
    height:100vh;
    
  }
  
  
  
   </style>-->
  
  
   <div class="container">
  <h3 class="all-header">Welcome to my dashboard </h3>

  
  
<% if(data){%>
  
<div class="boxs">
  
<div class="box1 box">

       <div class="containerB">
         <i class="fas fa-address-card"></i>
           <h4 class="bigText"><%=data.info%></h4>
             <p class="text">INFO</p>
      </div>
                                       

    </div>
  <br>
  <br>

  <div class="box2 box">
    
    <div class="containerB">
      <i class="fas fa-sack-dollar"></i>
    
      <h4 class="bigText">$<%= data.money.toLocaleString()%></h4>
        <p class="text"> MONEY</p>
        </div>

    </div>
   
  <br>
    <br>
    
  <div class="box3 box">

    <div class="containerB">
      <i class="fas fa-badge-check"></i>
      <h4 class="bigText"><%= user_rank%></h4>
        <p class="text">RANK</p>
        </div>
  </div>
                         
<br>
    <br>
    
  </div>
   <% }%> 
    
     </div>
    
<div style="padding-bottom: 20px;"></div>
  
  
  

  
  

  
  
  
  
  
  
  
  
  
  
  
  <%- include ('../parts/foot.ejs')%>