
  <%- include ("../parts/guilds",{bot,user})%>

  
  
  <h3 class="all-header">Welcome to my dashboard </h3>

  <% if(data){%>
  
          <div class ="row">
<% if(user){%>
<div class="boxs">
<div class="box1 box">

  <div class="containerB">
    <h3 class="bigText"><i class="fa-solid fa-money-check-dollar"></i></h3>
      <p class="heading"><%=data.money.toLocaleString()%>$</p>
  </div>
                                       
</div>
  
<div class="box2 box">
    <div class="containerB">
      <h3 class="bigText"><i class="fa-solid fa-address-card"></i></h3>
      <p class="heading"><%=data.info%></p>
  </div>
</div>

  


<div class="box3 box">

    <div class="containerB">
      <h3 class="bigText"><i class="fa-solid fa-signal"></i></h3>
        
    <p class="heading"><%=data.data.global_level%></p>
      </div>
                                       
</div>
  
<div class="box4 box">
    <div class="containerB">
      <h3 class="bigText"></i><i class="fa-solid fa-medal"></i></h3>
  <p class="heading"><%=user_rank%></p>
       </div>
</div>



   
  
  
            </div>

</div>
   <% }%>         
     <% }%>
<div style="padding-bottom: 20px;"></div>
  
  
  

  
  

  
       <canvas id="chart"></canvas>
       
       <script>
        
         const plugin = {
  id: 'custom_canvas_background_color',
  beforeDraw: (chart) => {
    const ctx = chart.canvas.getContext('2d');
    ctx.save();
    ctx.globalCompositeOperation = 'destination-over';
    ctx.fillStyle = 'lightGreen';
    ctx.fillRect(0, 0, chart.width, chart.height);
    ctx.restore();
  }
};
         
     const data = {
  labels: [
    'Red',
    'Blue',
    'Yellow'
  ],
  datasets: [{
    label: 'My First Dataset',
    data: [300, 50, 100],
    backgroundColor: [
      'rgb(255, 99, 132)',
      'rgb(54, 162, 235)',
      'rgb(255, 205, 86)'
    ],
    hoverOffset: 4
  }]
};    
  
  
  
  
  
  
  
  
  
  <%- include ('../parts/foot.ejs')%>