
 <%- include ("../parts/guilds",{bot,user})%>
<style>
  .container {
    height:100vh;
    
  }
  

  
   </style>
  
  
  <h3 class="all-header">Welcome to my dashboard </h3>

  
  <div class="container">
<% if(data){%>
  

<div class="boxs">
<div class="box1 box">

       <div class="containerB">
           <h4 class="bigText"><%=data.info%></h4>
            
      </div>
                                       
</div>
  
  <br>
  <br>

  <div class="box2 box">
    
    <div class="containerB">
      <h4 class="bigText"><%= data.money%></h4>
        </div>

    </div>
   
  <br>
    <br>
  <div class="box3 box">
    <div class="containerB">
      <h4 class="bigText"><%= user_rank%></h4>
        </div>
  </div>
<br>
    <br>
    
  </div>
   <% }%> 
    
     </div>
    
<div style="padding-bottom: 20px;"></div>
  
  
  

  
  

  
  
  
  
  
  
  
  
  
  
  
  <%- include ('../parts/foot.ejs')%>