<%- include('../parts/head', {bot, user, path}) %>
<br><br>
<div class="container">
  <br><br>
  <style>
.form-control {
  background-color: var(--form-input);
  color: var(--input-color);
  border: none;
}
.form-control:focus {
  background-color: var(--form-input);
  color: var(--input-color);
  border: 3px solid var(--button-green);
}
  label {
    color: var(--label-color)!important;
  }
input[type="text"]:disabled {
  background-color: var(--input-disabled);
  color: gray;
  border: none;
  cursor: not-allowed;
}
</style>
<div style="background-color: var(--form-background);" class="container p-4">
  <center>
  <i style="color: #fff;" class="fad fa-user-cog fa-5x"></i>
  <h3 style="color: #fff;">
    <br>

   Editing User: "<%=member.username%>"
  </h3>
  </center>
  <form method="POST">
<% if(!data) {%>
<label for="basic-url"><i class="fab fa-github"></i> Github (Optional)</label>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon3">https://github.com/</span>
  </div>
  <input type="text" class="form-control" name="github" id="github" aria-describedby="basic-addon3">
</div>
<label for="basic-url"><i class="fab fa-twitter"></i> Twitter (Optional)</label>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon3">https://twitter.com/</span>
  </div>
  <input type="text" class="form-control" name="twitter" id="twitter" aria-describedby="basic-addon3">
</div>
<label for="basic-url"><i class="fab fa-instagram"></i> Instagram (Optional)</label>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon3">https://instagram.com/</span>
  </div>
  <input type="text" class="form-control" name="instagram" id="instagram" aria-describedby="basic-addon3">
</div>
<label for="basic-url"><i class="fad fa-globe"></i> Website (Optional)</label>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon3">Straight URL</span>
  </div>
  <input type="text" class="form-control" name="website" id="website" aria-describedby="basic-addon3">
</div>

<label for="basic-url"><i class="fad fa-text"></i> Biography (Optional)</label>
<div class="input-group mb-3">
  <textarea id="biography" class="form-control" name="biography" maxlength="250"></textarea>
</div>
<% } else { %>
<label for="basic-url"><i class="fab fa-github"></i> Github (Optional)</label>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon3">https://github.com/</span>
  </div>
  <input type="text" class="form-control" value="<%= data.github %>" name="github" id="github" aria-describedby="basic-addon3">
</div>
<label for="basic-url"><i class="fab fa-twitter"></i> Twitter (Optional)</label>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon3">https://twitter.com/</span>
  </div>
  <input type="text" class="form-control" value="<%= data.twitter %>" name="twitter" id="twitter" aria-describedby="basic-addon3">
</div>
<label for="basic-url"><i class="fab fa-instagram"></i> Instagram (Optional)</label>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon3">https://instagram.com/</span>
  </div>
  <input type="text" class="form-control" value="<%= data.instagram %>" name="instagram" id="instagram" aria-describedby="basic-addon3">
</div>
<label for="basic-url"><i class="fad fa-globe"></i> Website (Optional)</label>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon3">Straight URL</span>
  </div>
  <input type="text" class="form-control" value="<%= data.website %>" name="website" id="website" aria-describedby="basic-addon3">
</div>

<label for="basic-url"><i class="fad fa-text"></i> Biography (Optional)</label>
<div class="input-group mb-3">
  <textarea id="biography" class="form-control" name="biography" maxlength="250"><%= data.biography %></textarea>
</div>
  
  
  
  <label for="background">BACKGROUND</label>
  <div class="form-group">

    
    
  <select  id="select" width="300px">
  <% _.chunk(data.inventory,25).map((chunk,o,i)=>{
      chunk.sort((B)=> B.id).map((d) =>{
      const item = market.find(x=> x.id === d.id)

      %>
      
      <% if(item.type==="background"){%>
      
        <option id="background" value="<%= item.assets.link%>" data-img_src="<%= item.assets.link%>"><%= item.name%></option>
      <% }})})%>
      
      
    
    </select>
      </div>
  
  
<% } %>
  <br>
  <button type="submit" class="btn btn-primary"><i class="fad fa-save"></i> Save</button>
</form>
</div>
</div>

<br><br>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.js"></script>
<script type="text/javascript">
    function custom_template(obj){
            var data = $(obj.element).data();
           // var text = $(obj.element).text();
            if(data && data['img_src']){
                img_src = data['img_src'];
                template = $("<div><img src=\"" + img_src + "\" style=\"width:150px;height:150px;\"/>");
     
              
              
              
              //<p style=\"font-weight: 700;font-size:14pt;text-align:center;\">")
                             /* + text + "</p></div>");*/
                return template;
            }
        }
    var options = {
        'templateSelection': custom_template,
        'templateResult': custom_template,
    }
    $('#select').select2(options);
    $('.select2-container--default .select2-selection--single').css({'height': '220px'});


  
    var urlParams = new URLSearchParams(window.location.search);
    if(urlParams.has('success') && urlParams.get('success')){
    Swal.fire({
     icon: 'success',
     title: 'Successful...',
     closeOnConfirm: false,
     text: urlParams.get('message'),
     footer: 'Copyright 2021 &copy  - All right reserved.'
    }).then((result) => {
  if (result.isConfirmed) {
    window.location.href = '/profile/<%=req.params.userID%>';
  }
})
    }
    if(urlParams.has('error') && urlParams.get('error')){
    Swal.fire({
     icon: 'error',
     title: 'Oops...',
     text: urlParams.get('message'),
     footer: 'Copyright 2021 &copy www.kurd-botlist.cf - All right reserved.'
    }).then((result) => {
  if (result.isConfirmed) {
    window.location.href = '/profile/<%=req.params.userID%>/edit';
  }    
})
    }
   </script>
<%- include('../parts/foot') %>
