<%- include ('../parts/head',{bot,user})%>


<title><%= member.username %> | Profile</title>
<head>
    <meta name="og:title" content="<%= member.username %> | Profile">
    <meta name="og:description" content="<%= data ? (data.info ? data.info : member.username+' has no have any biography.') :member.username+' has no have any biography.'%>">
    <meta name="og:image" content="https://cdn.discordapp.com/avatars/<%=member.id%>/<%=member.avatar%>.png">
</head>

  
  <div class="container px-3 px-3 mt-5 pt-5">
    <div class="columns container px-3 is-multiline">
        <div class="column is-2">
            <img onerror="imgError(this);" draggable="false" class="pulse-avatar-<%=member.presence%>"  onerror=" imgerror(this);"="" src="<%=member.displayAvatarURL({dynamic:true}) %>" style="width: 300px; border-radius: 50%;">
        </div>
      
      
       <div class="column is-6">
          <p translate="no" class="has-text-white is-size-3" style="margin-bottom: 10px;"><%= member.username %><span class="is-size-4" style="opacity: 0.7;">#<%= member.discriminator %></span>&nbsp;<i class="status-circle fad fa-circle status-<%=member.status%>"></i></p>
           <div class="user-badges">
             <span><img src="<%= data.data.badge%>" style="width:40px;jeight:40px;"/></span>
               </div>
            </div>
            
            <table class="table">
            
    
            <thead class="table-head">
          
               
              <tr>
                <th><%=item.name%></th>
                <th><%=items.id%></th>
              </tr>
              </thead>
              <tbody class="tbody">
                
                <td><%=items.price%></td>
                <td> wein</td>
                </tbdoy>
         
         </table>
            
            
      
            
            
            
            </div>
      </div>

  
  

    

  
  
  
  <%- include ('../parts/foot')%>