<%- include ('../parts/head',{bot,user})%>

<title><%= member.username %> | Profile</title>
<head>
    <meta name="og:title" content="<%= member.username %> | Profile">
    <meta name="og:description" content="<%= data ? (data.info ? data.info : member.username+' has no have any biography.') :member.username+' has no have any biography.'%>">
    <meta name="og:image" content="https://cdn.discordapp.com/avatars/<%=member.id%>/<%=member.avatar%>.png">
</head>
<style>
  .container{
    
    
    position:static;
    top:44px;
  
  }
  .container .table .table-striped th{
    color: var(--white);
    font-size:18px;
    
  }
  .container .table .table-body td{
    
    color: var(--white);
  }
  .background-image{
    border-radius: 10%;
    position: static;
  
    height:300px;
    
  }
  .background-image img{
    
    width:100%;
    
    
    
  }
  
  
  </style>

  <div class="background-image"><img src="<%=data.attch.background%>"/>
  
  
  <div class="container px-3 px-3 mt-5 pt-5">
    <div class="columns container px-3 is-multiline">
        <div class="column is-2">
            <img onerror="imgError(this);" draggable="false" class="pulse-avatar-<%=member.presence%>"  onerror=" imgerror(this);"="" src="<%=member.displayAvatarURL({dynamic:true}) %>" style="width: 100px; border-radius: 50%;">
        </div>
      
      
       <div class="column is-6">
          <p translate="no" class="has-text-white is-size-3" style="margin-bottom: 10px;"><%= member.username %><span class="is-size-4" style="opacity: 0.7;">#<%= member.discriminator %></span>&nbsp;<i class="status-circle fad fa-circle status-<%=member.status%>"></i></p>
           <div class="user-badges">
             <span><img src="<%= data.data.badge%>" style="width:40px;jeight:40px;"/></span>
               </div>
            </div>
            
            <table class="table table-sm">
            
    
            <thead class="table table-striped">
          
               
              <tr>
                <th scope="col">BALANCE</th>
                <th scope="col">BIO</th>
              
              </tr>
              </thead>
              <tbody class="table-body">
                <tr>
                
                <td>$<%=data.money.toLocaleString()%></td>
                <td><%=data.info%></td>
                </tr>
                </tbdoy>
            
         </table>
            
      <br> 
      <br>
      <br>
      
      <!--
      <table class="table table-sm">
        <thead class="table table-striped">
          <tr>
          
            <th scope="col">Invntory</th>
            
          </tr>
        </thead>
<% _.chunk(data.inventory, 25).map((chunk, i, o) => {
  chunk.sort((A,B) => A.id - B.id ).map(d => {
  const item = market.find(x => x.id == d.id);
  
  %>
        <tbody clSs="table-body">
          <tr>
            <td><%= item.name%> <img style="width:100px; height:90px; margin-left:30px; border-radius:25%;" src="<%=item.assets.link%>"/></td>
          </tr>
        </tbdoy>
      <% })})%>
      </table>--->
           
      <% _.chunk(data.inventory,25).map((chunk,i,o)=>{
        chunk.sort((A,B)=>A.id - B.id).map(d=>{
        const item = market.find(x=> x.id== d.id);%>
        <div class="card" style="width:18rem;border-radius:5%;">
<img src="<%=item.assets.link%>" style="border-radius:8%;"class="card-img-top" alt="<%=item.name%>">
<div class="card-body">
<h5 class="card-title" style="color:black;"><%= item.name%></h5>
<p class="card-text" style="color:black;"><%= item.description%>.</p>
      <ul class="list-group list-group-flush">
<li class="list-group-item">item type: <%= item.type%></li>
<li class="list-group-item"><%= item.price%></li>
<li class="list-group-item">id of item: <%= item.id%></li>
      </ul>
     <!--<a href="#" class="card-link">Another link</a>
<a href="#" class="card-link">Card link</a>-->
</div>
</div> 
          
      <br>
          <br>
          
          <% })})%>
            
            
            </div>
      </div>

  
  
  </div>
    

  
  
  
  <%- include ('../parts/foot')%>