<%- include('./meta.ejs')%>
  
    <style>
      .guild-img{
        
      
        margin-left:30px;
    
        
      }
      .guild-img img{
        position: relative;
        width:300px;
        object-fit: cover;
        margin-left:30px;
        height:100px;
      }
  </style>
  <div class="sidebar">
  <div class="logo-detail">
    <br>
    <br>
 <div class="nav-list">
   <ul class="list">
     <% if (guild.icon) {
 iconurl = "https://cdn.discordapp.com/icons/" + guild.id + "/" + guild.icon + ".png??size=300";
} else {
 iconurl = "https://cdn.glitch.com/82fe990a-7942-42e3-9790-39807ccdb9f6%2Ficon-404-dark.png?v=1602427904949";
}
%>
     <div class="guild-img">
    <img src="<%= iconurl%>" alt="<%= guild.name%>">
       <p style="color:var(--white);"><%= guild.name%></p>
     </div>
     
     
     
     <li>
       <div class="icon">
         <a href="/dashboard/guild/<%=guild.id%>/setting">
           <i class="fa-solid fa-gear"></i>
           <span class="link_name">Setting</span>
         </a>
       </div>
     </li><br>

     <li>
          
    <div class="icon">
               
      <a href="/dashboard/guild/<%=guild.id%>/xpsystem">
        <i class='bx bx-grid-alt'></i>
         <span class="link_name">Leveling</span>
               
  
       </a>
 
       
     </div>
     </li>
       <br>
          <li>
        <div class="icon">
               
      <a href="/dashboard/guild/<%=guild.id%>/autorole">
        <i class='bx bx-info-circle' ></i>
         <span class="link_name">AutoRole</span>
               

       </a>
          
       
       </div>

        
     </li>
       <br>
     <li>
        <div class="icon">
               
      <a href="/dashboard/guild/<%=guild.id%>/logsystem">
        <i class='bx bxs-hand' ></i>
         <span class="link_name">Logs</span>
               

       </a>
          
       
       </div>

       
     </li>
       <br>
     <li>
        <div class="icon">
               
      <a href="/dashboard/guild/<%= guild.id%>/welcome">
        <i class="fa-solid fa-house-chimney"></i>
         <span class="link_name">Welcome</span>
               

       </a>

       
       </div>
       </li>
       <br>
       <li>
         <div class="icon">
           <a href="/dashboard/<%=guild.id%>/leaderboard">
            <i class="fas fa-medal"></i> 
             <span class="link_name">LeadrBoard</span>
           </a>
         </div>
         

        
     </li>
       
        <% if(user){%>
 <% if(user.id === config.server.role.adminstrator || config.server.role.moderator || "768944616724103170"){%>
     
<li>
  <div class="admin">
    <a href="/admin">
      <i class="fas fa-tools"></i>
      <span class="link_name">Admin</span>
    </a>
  </div>
     </li>
     <% } %>
       <% }%>
        

   <% if(user){%>
   <br>
     <br>
   <li>

   <div class="profile-detail">
    
   
       <div class="profile-content">
      <a href="/profile/<%= user.id%>">
         <img src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png"/>
         </a>
        
        </div>
       <div class="profile-name"><%=user.username%></div>
         <div class="profile-badge"></div>
     </div>
     </li>
     <% }%>
     </ul>
   
           </div>
         </div>
         </div>
  
   
   
    
    
  <div class="home-section">
    <div class="home-img">
      <a href="/"> <img src="<%=bot.user.displayAvatarURL()%>"/></a>
    </div>
    <div class="home-content">
      
      <span class="text"><i class="fa-solid fa-bars"></i></span>
    </div>

       </div>
       </div>
  
<script>
  let arrow = document.querySelectorAll(".link_name")
  
  for(i=0; i < arrow.length;i++){
    arrow[i].addEventListener("click",(e)=>{
      let target = e.target.parentElement.parentElement.parentElement;
      
      target.classList.toggle("showMenu")
    })
    
  }
  let sidebar= document.querySelector(".sidebar");
  let sidebarBtn= document.querySelector(".text");
  sidebarBtn.addEventListener('click',()=>{
    
    sidebar.classList.toggle("close");
   // console.log(sidebar);
  })
  
 
</script>

  
  <br><br>
  