<%- include ('../parts/head.ejs',{bot,user})%>
  <style>
  .container .column .columns img {
    
    justify-content:space-between;
    padding-bottom:10px;
  
    }
  
   .bgs{
    
      width:40px;
      background:#717173;
    position: absolute;
    
      margin-left:69px;
     
      border-bottom-right-radius:15%;
      border-top-left-radius:15%;
      opacity:0.6;
  
    }

    .bgs strong{
    pointer-events:none;
  
      color: var(--white);
      left:60px;
      z-index:1;
  
      
    }
    
    @media only screen and (min-height:800px){
      .bgs{
     display:inline-flex;
        margin-left:-220px;
        
      }
  .container .column .columns img{
    padding-left:10px; 
    paddin-top:3px;
    paddin-right:10px;
    
      }
  
      
      
    }
    
  </style>
  <div class="container">
    
    <div class="column">
      <div class="columns is-multiline is-desktop is-variable is-7 pt-5">
  
        <% market.map((item)=>{%>
  
  
    
        
      
        <div class="bgs">
      <strong>$<%=item.price%></strong> 
        
        </div>
   <img  class="card-img-top" onclick="clickAdd()" src="<%= item.assets.link%>" style=" width:230px; height:170px; border-radius:3%; z-index:0.5;" alt="<%=item.name%>"/>
        
    
    
      
  
        
   <% })%>
     
     </div>
      </div>
     </div>
     
     
     
     
     
     
     </div>
   
   
    
    <script>
      
      
      </script>
  
  
  
  <%- include ('../parts/foot')%>