<%- include ('../parts/head.ejs',{bot,user})%>
  <style>
  .container .column .columns img {
    
    justify-content:space-between;
    padding-bottom:10px;
  
    }
  
   .bgs{
    
      
      background:#717173;
    position: absolute;
    
      margin-left:69px;
     
      border-bottom-right-radius:15%;
      border-top-left-radius:15%;
      opacity:0.6;
  
    }

    .bgs strong{
    pointer-events:none;
  
      color: var(--white);
      left:60px;
      z-index:1;
  
      
    }
    
    @media only screen and (min-height:800px){
      .bgs{
     display:inline-flex;
        margin-left:-220px;
        
      }
  .container .column .columns img{
    padding-left:10px; 
    paddin-top:3px;
    paddin-right:10px;
    
      }
  
      
      
    }
    
  </style>
  <div class="container">
    <form method="POST">
    <div class="column">
      <div class="columns is-multiline is-desktop is-variable is-7 pt-5">
  
        <% market.forEach((item)=>{ %>
    
        
      
        <div class="bgs">
      <strong>$<%=item.price%></strong> 
        
        </div>
                              
  
   <img onclick="clickOnAdd();" src="<%= item.assets.link%>"  style="width:230px; height:170px; border-radius:3%; z-index:99;" alt="<%=item.name%>" value="<%=item.price%>"/>
  <input type="hidden" id="imageid" value="<%=item.price%>"/>
       
   <% } ) %>
     
     </div>
      </div>
          </form>
     </div>
        
        
        <script type="text/javascript">
          
          
  
  function clickOnAdd(){
    
  
      $.post('/bgs',{
           image: $('#imageid').val(),   
            price:$('#imageid').val(),
        
    })
    
    
  setTimeout(()=>{
    
    alert('hama')
    
  },2000)}
        </script>
  
  
  
  <%- include ('../parts/foot')%>