<%- include ('../parts/head.ejs',{bot,user})%>
  <style>
  .container .column .columns img {
    
    justify-content:space-between;
    padding-bottom:10px;
  
    }
  
   .bgs{
    
      
      background:#717173;
      position: absolute;
    
      margin-left:69px;
     
      border-bottom-right-radius:15%;
      border-top-left-radius:15%;
      opacity:0.6;
  
    }

    .bgs strong{
    pointer-events:none;
  
      color: var(--white);
      left:60px;
      z-index:1;
  
      
    }
    
    @media only screen and (min-height:800px){
      .bgs{
     display:inline-flex;
        margin-left:-220px;
        
      }
  .container .column .columns img{
    padding-left:10px; 
    paddin-top:3px;
    paddin-right:10px;
    
      }
  
      
      
    }
    .toast
    
  </style>
  <div class="container">
    
    <div class="column">
      <div class="columns is-multiline is-desktop is-variable is-7 pt-5">
  <form method="POST">
        <% market.forEach((item)=>{ %>
    
        
      
        <div class="bgs">
      <strong>$<%=item.price%></strong> 
        
        </div>
                              

   <img  src="<%= item.assets.link%>"  style="width:230px; height:170px; border-radius:3%; z-index:99;" alt="<%=item.id%>.png" id="img">
      <% })%>
          
          <div class="toast show">
            <div class="toast-content">
            </div>
              <div class="toast-img">
                <img src="<%= item.assets.link%>" width="100px;" height="100px;"/>
        
            </div>
            <button type="submit" onclick="click()" class="btn btn-success">Use</button>
          </div>
                     
                
   <% } ) %>
     
     
     </form>
     </div>
      </div>
        
     </div>
        
        
   <script>          
      alert('hh')  
  $("img").click(function() {
            Swal.fire({
  title: 'Are you sure?',
  text: "You won't be able to revert this!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes, save it!'
}).then((result) => {
  if (result.isConfirmed) {
    $.post("/bg",{
      id:$('#imageid').val(),
    }) setTimeout(()=>{
    Swal.fire(
      'Saved!',
      'Your file has been saved',
      'success'
    )}, 2000 )
    
  }
})})
        </script>   
  
  <%- include ('../parts/foot')%>