<%- include ('../parts/head.ejs',{bot,user})%>
  <style>
    
    
    .amount{
      position: fixed;
      z-index:1;
      background:#717173;
      width:50px;
      border-bottom-right-radius:15%;
      border-top-left-radius:15%;
      opacity:0.6;
      left:81.3px;
      
     margin-top:24.1px;
    }
    .amount span{
      
      color: var (--white);
      opacity:1;
    }
    .purchase{
      color:white;
      display:block;
    }
    
    .purchase.open{
      
      display:block;
    }
    #myButton{
    position: absolute;
      width:50px;
      height:20px;
  margin-top:170px;
      left:265px;
      font-size:15px;
      
      
    }
    
    
    
  </style>
  <div class="container">
    <% market.forEach((item)=>{%>
      
    <br><br>
    
    <img   src="<%= item.assets.link%>" style="position: relative; width:230px; height:170px; border-radius:3%; z-index:0.5;" alt="<%=item.name%>"/>
      
     <button type="submit" id="myButton" onclick="clickOnAdd()" name="btnSubmit" class="btn btn-secondary"></i>buy</button>

      
      
 <div class="amount">
   
     
   <span>$<%= item.price%></span>
     
    </div>  
   
   <% })%>
     
     
     
     
     
     
     
     
     </div>
   
   
  
  
    
    
   
     
  
    
    <script>
      
      
      </script>
  
  
  
  <%- include ('../parts/foot')%>