<%- include ('../parts/head.ejs',{bot,user})%>
  <style>
    
    
    .amount{
      position: absolute;
      z-index:1;
      background:#717173;
      width:50px;
      border-bottom-right-radius:15%;
      border-top-left-radius:15%;
      opacity:0.6;
      left:81.3px;
      
     margin-top:48.1px;
    }
    .amount strong{
      
      color: var (--white);
      
    }
    .purchase{
      color:white;
      display:block;
    }
    
    .purchase.open{
      
      display:block;
    }
    #myButton{
    position: absolute;
      width:50px;
      height:30px;
  margin-top:140px;
      left:262px;
      border:none;
      
      font-size:15px;
      
      
    }
    
    #myButton strong{
    position: relative;
      margin-bottom:8px;
    }
    @media only screen and (min-height:800px){
      .container{
        
        align-items: center;
      
        
        position: absolute;
        display: grid;
        grid-template-columms: 1fr 1fr;
      }
      
    }
    
  </style>
  <div class="container">
    <% market.forEach((item)=>{%>
      
    <br><br><br>
    
    <img   src="<%= item.assets.link%>" style="position: relative; width:230px; height:170px; border-radius:3%; z-index:0.5;" alt="<%=item.name%>"/>
      
<button type="submit" id="myButton" onclick="clickOnAdd()" name="btnSubmit" class="btn btn-secondary"><i class="fad fa-save"></i></button>

      
      
 <div class="amount">
   
     
   <strong>$<%= item.price%></strong>
     
    </div>  
   
   <% })%>
     
     
     
     
     
     
     
     
     </div>
   
   
  
  
    
    
   
     
  
    
    <script>
      
      
      </script>
  
  
  
  <%- include ('../parts/foot')%>