<%- include ('../parts/head.ejs',{bot,user})%>
  <style>
    
    
    .amount{
      position: absolute;
      z-index:1;
      background:#717173;
      width:50px;
      border-bottom-right-radius:15%;
      border-top-left-radius:15%;
      opacity:0.6;
      left:81.3px;
      
     margin-top:24.1px;
    }
    .amount span{
      
      color: var (--white);
      opacity:1;
    }
    .purchase{
      color:white;
      display:block;
    }
    
    .purchase.open{
      
      display:block;
    }
    
    
  </style>
  <div class="container">
    <% market.forEach((item)=>{%>
      
    <br><br>
    <img  class="img" src="<%= item.assets.link%>" style="position: relative; width:230px; height:170px; border-radius:3%; z-index:0.5;" alt="<%=item.name%>"/>
      
                                        
 <div class="amount">
   
     
   <span>$<%= item.price%></span>
     
    </div>  
   <% })%>
     </div></div>
   
     <div class="purchase" id="purchase">
  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>     
   </div>
    

   
     
  
    
    <script>
      
      
      </script>
  
  
  
  <%- include ('../parts/foot')%>