<%- include ('../parts/head.ejs',{bot,user})%>
  <style>
    .container .col{
  
    
      position: relative;
      
      
      
    }
    
   
   .container .row .col .bgs{
      position: static;
     
      
      background:#717173;
      width:50px;
    
      margin-left:100px;
      border-bottom-right-radius:15%;
      border-top-left-radius:15%;
      opacity:0.6;
  
  
    }

    .row .col  .bgs strong{
    pointer-events:none;
    position:static;
      color: var(--white);
      left:60px;
      z-index:1;
  
      
    }
    .purchase{
      color:white;
      display:block;
    }
    
    .purchase.open{
      
      display:block;
    }/*
    #myButton{
    position: absolute;
      width:50px;
      height:30px;
  margin-top:140px;
      left:262px;
      border:none;
      
      font-size:15px;
      
      
    }
    
    #myButton strong{
    position: relative;
    
      margin-bottom:8px;
    }*/
    @media only screen and (min-height:800px){
      
      .container{ 
        
  position: relative;
      
        
      }
      
      
    }
    
  </style>
  <div class="container">
    <% market.forEach((item)=>{%>
      

      <div class="row">
    <div class="col">
      <br>
      <br>
      <br>
      <div class="bgs">
      <strong>$<%=item.price%></strong> 
        </div>
   <img   onclick="clickAdd()" src="<%= item.assets.link%>" style="position: relative; width:230px; height:170px; border-radius:3%; z-index:0.5;" alt="<%=item.name%>"/>
        
   <!--   
<button type="submit" id="myButton" onclick="clickOnAdd()" name="btnSubmit" class="btn btn-secondary"><i class="fad fa-save"></i></button>

      -->
      
 
   
    
  
     </div>
    </div>  
    
   <% })%>
     

     
     
     
     
     
     
     </div>
   
   
    
    <script>
      
      
      </script>
  
  
  
  <%- include ('../parts/foot')%>