<%- include ('../parts/head.ejs',{bot,user})%>
  <style>
    
    
    .amount{
      position: absolute;
      z-index:1;
      background:#717173;
      width:50px;
      border-bottom-right-radius:15%;
      border-top-left-radius:15%;
      opacity:0.6;
      left:81.3px;
      
     margin-top:24.1px;
    }
    .amount span{
      
      color: var (--white);
      opacity:1;
    }
    .purchase{
      color:white;
      display:none;
    }
  .purchase .open{
    display:block;
    
    }
    
    .
  </style>
  <div class="container">
    <% market.forEach((item)=>{%>
      
    <br><br>
    <img  class="img" src="<%= item.assets.link%>" style="position: relative; width:230px; height:170px; border-radius:3%; z-index:0.5;" alt="<%=item.name%>"/>
      
                                        
 <div class="amount">
   
     
   <span>$<%= item.price%></span>
     
    </div>  
   <% })%>
     </div>
   
     <div class="purchase">
       
       <span>hama</span>
   </div>
      </div>

   
     
  
    
    <script>
      let container = document.getElementsByClassName("purchase");
    console.log(conainer);
      let bnt = document.getElementsByClassName("img");
btn.addEventListener('click', ()=>{
  
  container.classList.toggle("open");
  
  
})
      
      </script>
  
  
  
  <%- include ('../parts/foot')%>