<%- include ('../parts/head.ejs',{bot,user})%>
  <style>
  .container .column .columns img {
    
    justify-content:space-between;
    padding-bottom:10px;
  
    }
  
   .bgs{
    
      
      background:#717173;
    position: absolute;
    
      margin-left:69px;
     
      border-bottom-right-radius:15%;
      border-top-left-radius:15%;
      opacity:0.6;
  
    }

    .bgs strong{
    pointer-events:none;
  
      color: var(--white);
      left:60px;
      z-index:1;
  
      
    }
    
    @media only screen and (min-height:800px){
      .bgs{
     display:inline-flex;
        margin-left:-220px;
        
      }
  .container .column .columns img{
    padding-left:10px; 
    paddin-top:3px;
    paddin-right:10px;
    
      }
  
      
      
    }
    
  </style>
  <div class="container">
    
    <div class="column">
      <div class="columns is-multiline is-desktop is-variable is-7 pt-5">
  
        <% market.map((item)=>{ %>
  
  
    
        
      
        <div class="bgs">
      <strong>$<%=item.price%></strong> 
        
        </div>
        <button type="submit" name="btnSubmit" class="btn btn-vcodes">

   <img src="<%= item.assets.link%>" style=" width:230px; height:170px; border-radius:3%; z-index:0.5;" alt="<%=item.name%>" role="button" onclick="onclick()"/>
        
          </button>
    
      
  
        
   <% } ) %>
     
     </div>
      </div>
     </div>
     
     
     
<script>

  var urlParams = new URLSearchParams(window.location.search);
    if(urlParams.has('success') && urlParams.get('success')){
    Swal.fire({
     icon: 'success',
     title: 'Succesfull...',
     closeOnConfirm: false,
     text: urlParams.get('message'),
     footer: 'h'
    }).then((result) => {
      if (result.isConfirmed) {
        window.location.href = `/bgs`;
      }
    })
    }
    if(urlParams.has('error') && urlParams.get('error')){
    Swal.fire({
     icon: 'error',
     title: 'Oops...',
     text: urlParams.get('message'),
     footer: 'h'
    }).then((result) => {
      if (result.isConfirmed) {
        window.location.href = '/bgs';
      }    
    })
    } 
  
  
  
      
      </script>
  
  
  
  <%- include ('../parts/foot')%>