<%- include ('../parts/head.ejs',{bot,user})%>
  <style>
   
  .container .column .columns img{
    
    justify-content:space-between;
    padding-bottom:10px;
  
    }
  
   .bgs{
    
      
      background:#717173;
      position: absolute;
    
      margin-left:69px;
     
      border-bottom-right-radius:15%;
      border-top-left-radius:15%;
      opacity:0.6;
  
    }

    .bgs strong{
    pointer-events:none;
  
      color: var(--white);
      left:60px;
    
      
    }
    
    @media only screen and (min-height:800px){
      .bgs{
     display:inline-flex;
        margin-left:-220px;
        
      }
  .container .column .columns img{
    padding-left:10px; 
    paddin-top:3px;
    paddin-right:10px;
    
      }
  
      
      
    }
  
  
    
    .toast {
      width:300px;

      z-index:99;
  
      left:40px;
      background:var(--nav-color);
      position:relative;
      height:400px;
      border-radius:10%;
    
      items-align: center;
    }
    .toast .remove{
      margin-left:230px;
      margin-top:40px;
      font-size:18px;
      
      
    }
  /*
    
    .toast.show{
      display:block;
    }*/
    
    .toast .toast-content{
      text-align: center;
      
      font-size:15px;
      border-bottom: 2px solid var(--navlist-color);
    }
    .toast .toast-img {
  margin-left:50px;
      margin-top:60px;
      width:200px;
      height:200px;
      background:red;
    }
    .toast .toast-img img{
      width: 100px;
      height:100px;
      object-fit: cover;
      margin-top:40px;
    
      
    }
  </style>
  <div class="container">
    
    <div class="column">
      <div class="columns is-multiline is-desktop is-variable is-7 pt-5">
        
        <br>
        <br>
        <% market.map((item)=>{ %>
  
        <div class="bgs">
      <strong>$<%=item.price%></strong> 
        
        </div>
      

  <img src="<%= item.assets.link%>"  style="width:230px; height:170px; border-radius:3%;" alt="<%=item.id%>"/>
  
            
      
          
                   
                      
           <% })%>     
            
     
     
    
     </div>
      </div>
        
     </div>
        
        
   <script>          
    
     
    const toast = document.querySelector(".toast"), 
  btn =  document.querySelector("button");
    
    let btnx = document.querySelector(".remove");
btn.addEventListener('click',()=>{
  
  
    toast.classList.add("show");

  }); 
    
     btnx.addEventListener('click',()=>{
       toast.classList.remove('show');
     });
    
       
       

    
     
        </script>   
  <br>
  <br>
  <br>
  
  <br><br><br><br><br><br><br><br><br><br><br><br>
  <%- include ('../parts/foot')%>