<%- include ('../parts/head.ejs',{bot,user})%>
  
  
  <br>
  <br>
  <style>
    
    
    .container  .row .top-section{
      position: relative;
      width:100%;
      left:0;
      border-radius :10%;
    
    
      background:var(--nav-color);
      
      
    }
    .container .row .top-section .name{
      margin-left: 50px;
      position: absolute;
    
      
    }
    .container .row .top-section .user-img{
      position: absolute;
      
    }
    .container .row .top-section .user-img img{
      margin-top:10px;
      width:35px;
      margin-left:8px;
      height:35px;
      border-radius:50%;
      
    }
    .container .top-img img{
      width:23px;
      height:23px;
      margin-top:20px;
      
    }
    .container .row .top-section .top-img{
      position: relative;
      
      margin-left:300px;
      
    }
    
    .container .row .top-section .top-number {
    margin-right: 250px;
    
    
    }
    .container .row .top-section .top-number p{
      width:20px;
      
      background:var(--sharabi);
    }
    
    
      
  </style>
  <div class="container">
    
    <div class="row">
      <div class="col md">
        <% docs.slice(0,10).map((u,i) => {
        const h = bot.users.cache.get(u.id);
          const rank = String(i+1);%>
          <div class="top-section">
            <div class="user-img">
              <img src=" https://cdn.discordapp.com/avatars/<%= h.id%>/<%= h.avatar%>.png">
            </div>
        <div class="name">
      
          <span><%= h.username%></span>
          
        </div>
          <div class="top-img">
            <img src="https://imgur.com/h1bWdKL.png">
          </div>
        <div class="top-number">
          <p><%= rank%></p>
        </div>
            </div>
        <% })%>  
      </div>
    </div>
  </div>
  
  
  <%- include ('../parts/foot.ejs')%>