<%- include ('../parts/head.ejs',{bot,user})%>
  
  
  <br>
  <br>
  <style>
    
    
    .container  .row .top-section{
      position: relative;
      width:100%;
  
    
      background:var(--nav-color);
      margin-bottom: 20px;
      height:50px;
      border-radius: 10%;
      border:1px solid var(--sharabi);
    }
    .container .row .top-section .name{
      margin-left: 50px;
      position: absolute;
    
      
    }
    .container .row .top-section .user-img{
      position: absolute;
      
    }
    .container .row .top-section .user-img img{
      margin-top:10px;
      width:35px;
      margin-left:8px;
      height:35px;
      border-radius:50%;
      
    }
    .container .top-img img{
      width:23px;
      height:23px;
      
      margin-top:10px;
      
    }
    .container .row .top-section .top-img{
      position: relative;
    background:red;
      width:60px;
      height:60px;
      margin-left:300px;
      
    }
    @media screen and (min-height:800px;){
      
      .container .row .top-section.top-img{
        margin-left:300px;
        position: relative;
        
      }
      .container .row .top-section{
        width:100%;
        height:900px;
        
      }
    }
    .container .row .top-section .top-number {
    margin-right: 250px;
      width:20px;
    border-radius:50%;
      opacity:0.7;
      margin-top:-60px;
    background:var(--sharabi);
    
    }
    .container .row .top-section p{
  color:var(--white);
      font-weght:400;
      z-index:1;
      
    
      
    }
    
    
      
  </style>
  <div class="container">
    
    <div class="row">
      <div class="col">
        <% docs.slice(0,10).map((u,i) => {
        const h = bot.users.cache.get(u.id);
          const rank = String(i+1);%>
          <div class="top-section">
            <div class="user-img">
              <img src=" https://cdn.discordapp.com/avatars/<%= h.id%>/<%= h.avatar%>.png">
            </div>
        <div class="name">
      
          <span><%= h.username%></span>
          
        </div>
          <div class="top-img">
            <img src="https://imgur.com/h1bWdKL.png">
          </div>
        
        <div class="top-number">
          <p><%= rank%></p>
        </div>
            </div>
        <% })%>  
      </div>
    </div>
  </div>
  
  
  <%- include ('../parts/foot.ejs')%>