<%- include ('../parts/head.ejs',{bot,user})%>
  
  
  <br>
  <br>
  
  <div class="container">
    
    <div class="row">
    
        <% docs.slice(0,50).map((u,i) => {
        const h = bot.users.fetch(u.id);
          const xp = u.global_xp;
          const rank = String(i+1);%>
          <div class="top-section">
            <div class="user-img">
              <img loading="lazy" onerror="imgError(this);" src=" https://cdn.discordapp.com/avatars/<%= h?.id%>/<%= h?.avatar%>.png">
            </div>
        <div class="name">
      
          <span><%= h?.tag%></span>
          
        </div>
          <div class="top-img">
          
            <p><%= convert(xp)%></p>
          </div>
        
        <div class="top-number">
          <p><%= rank%></p>
        </div>
            </div>
        <% })%>  
      </div>
    </div>
  </div>
  
  
  <%- include ('../parts/foot.ejs')%>
