
 <%- include ("../parts/sidebarguild",{bot,user})%>
<style>
  .container {
    height:100vh;
    
  }
  

  
   </style>

  <br>
   <br>
  <h3 class="all-header">Welcome to my dashboard </h3>

  
  <div class="container">
<% if(data){%>
  

<div class="boxs">
<div class="box1 box">

       <div class="containerB">
         <i class="fas fa-chevron-circle-up"></i>
           <h4 class="bigText"><%=join1%></h4>
             <p class="text">JOIN IN DAY</p>   
      </div>
                                       
</div>
  
  <br>
  <br>

  <div class="box2 box">
    
    <div class="containerB">
      <i class="fas fa-angle-double-up"></i>
      <h4 class="bigText"><%=join2%></h4>
        <p class="text">JOIN IN 7DAYS</p>
        </div>

    </div>
   
  <br>
    <br>
  <div class="box3 box">
    <div class="containerB">
      <i class="fa-solid fa-users"></i>
      <h4 class="bigText"><%= guild.memberCount%></h4>
      <p class="text">TOTAL MEMBER</p.
        </div>
  </div>
<br>
    <br>
    
  </div>
   <% }%> 
    
     </div>
    
<div style="padding-bottom: 20px;"></div>
  
  
  

  
  

  
  
  
  
  
  
  
  
  
  
  
  <%- include ('../parts/foot.ejs')%>