<%- include ('../parts/head.ejs',{bot,user})%>
  
  
  
  <br>
  <br>
  
  <div class="row">
  
   <div class="select-server">
     
     <p>SELECT A SERVER</p>
       </div>
    
       <% const use = bot.guilds.cache.get(config.serverid).members.cache.get(user.id) %>
      <% if (!use) { %>
    <div style="width: 512px;
	 padding: 16px;
	 margin: 8px;  background-color: rgba(77, 77, 255, 0.05);">
      <h3 style="color: #4d4dff; 	 margin-top: 0;
	 margin-bottom: 8px;
	 font-size: 18px;
	 font-family: 'Poppins', sans-serif;">Hey <%= user.username%>!</h3>
      <p style="margin: 0;
	 font-size: 14px;
	 font-family: 'Open Sans', sans-serif;
	 color: #555;">Looks like you aren't in BoBo Support Server. <a href="/support">Join Here!</a></p>
    </div>

  <% } %>
    <br>
    
   <% user.guilds.forEach(guild => {
  
 const permsOnGuild = new perms(guild.permissions_new);
 if(!permsOnGuild.has("MANAGE_GUILD")) {
 return;
 }
%>
<% if (guild.icon) {
 iconurl = "https://cdn.discordapp.com/icons/" + guild.id + "/" + guild.icon + ".png??size=70";
} else {
 iconurl = "https://cdn.glitch.com/82fe990a-7942-42e3-9790-39807ccdb9f6%2Ficon-404-dark.png?v=1602427904949";
}
%>

  <% if(bot.guilds.cache.get(guild.id)) { %>
  
   <ul class="guild-list">
     
     <li>         
  
        <img loading="lazy" src="<%= iconurl %>"/>
      <p><%= guild.name %></p>
      
       <a class="btn btn-success" href="/dashboard/guild/<%= guild.id%>">Dashboard</a>
  
     </li>
    </ul>
    <% }%>
     <% if(!bot.guilds.cache.get(guild.id)){%>
       <br>
       <br>
       <ul class="guild-list">
         <li> 
           <img loading="lazy" src="<%= iconurl%>"/>
           <p><%= guild.name%></p>
           <a class="btn btn-primary" href="https://discord.com/api/oauth2/authorize?client_id=<%= bot .user.id%>&permissions=67206193&scope=bot&guild_id=<%=guild.id%>">invite</a>
         </li>
       </ul>
       <% }%>
       
       
    <%   })%>
    

           </div>
    
         
<script>
  let arrow = document.querySelectorAll(".link_name")
  
  for(i=0; i < arrow.length;i++){
    arrow[i].addEventListener("click",(e)=>{
      let target = e.target.parentElement.parentElement.parentElement;
      
      target.classList.toggle("showMenu")
    })
    
  }
  let sidebar= document.querySelector(".sidebar");
  let sidebarBtn= document.querySelector(".text");
  sidebarBtn.addEventListener('click',()=>{
    
    sidebar.classList.toggle("close");
   // console.log(sidebar);
  })
  
 
</script>

  
  
  <%- include ("../parts/foot")%>