<%- include ("../parts/head.ejs",{bot,user})%>
  
  <br>
  <br>
  <style>
    
    .row{
    position: relative;  
      border: 2px solid var(--nav-color);
      width:100%;
      left:10px;
      
      background: var(--nav-color);
      margin-top:80px;
    }
    .row .table{
      
    
      border-color: var(--nav-color);
    }
    .row .table th:hover{
      background: var(--sharabi);
      
      
    }
    .row .table td:hover{
      background: var(--sharabi);
    
    }
    
    
  </style>
  <h3 class="text-head" style="color:var(--white); margin-left:75px;">GUID LEADERBOARD</h3>
      
        <div class="row layout-top-spacing" id="cancel-row">
        
            <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                <div class="widget-content widget-content-area br-6">
                    <table id="default-ordering" class="table table-hover" style="width:100%">
                        <thead>
                            <tr>
                              <th style="color:white;">User Name</th>
                                <th style="color:white;">Rank</th>
                                <th style="color:white;">Total Xp</th>
                                <th style="color:white;">Level</th>
                              
                                <th class="invisible"></th>
                                <th class="invisible"></th>
                          </tr>
                        </thead>
                        <tbody>
                            <% docs.slice(0,10).map((u,i) => {
            
  const rank = String(i+1);  %>
                              
                            <tr>
<td><span style="color:white;display: flex; align-items: center;">&nbsp;<%= members.get(u.id)?.user.tag || '<Unknown User>'%></span></td>
 <td translate="no"><span style="color:white; display: flex; align-items: center;">&nbsp;<%=rank%></span></td>
  <td><span style="color:white; display:flex; align-items: center;">&nbsp;<%=  u.data.xp.toLocaleString()%></span> </td>
 
<td><span style="color:white; display: flex; align-items: center;"><%=u.data.level %></span></td>
                               <% }) %>
                                 
                                 
                                 
                            <%  docs.filter(x => x.id === req.user).map((u,i,a) => {
            const user = a.find(x => x.id === req.user.id);
            
            const rank = docs.findIndex(x => x.id === req.user.id) + 1;%>
                              
                              <td><span style="color:white; display:flex; align-items: center;">hh<%= rank%></span></td>
                                <% })%>
                      
                            </tr>
                      
                        </tbody>
                        <tfoot>
                            <tr>
                              
                                <th class="invisible"></th>
                                <th class="invisible"></th>
                                <th class="invisible"></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
          </div>
  
  
  <br>
                  <br>
                  <br>
                  <br>
  
  
  <%- include ("../parts/foot.ejs")%>