<%- include ("../parts/sidebarguild",{bot,user}) %>

  
  <style>
    
    .contact-form .variables{
     display:flex;
      line-height:40px;
    /*  margin-right:140px;*/

    }
    .contact-form .variables span{
      
  color:#A60C44;
      
    }
    .contact-form .variables p{
      font-size:16px;
      
      margin-left:10px;
      color:#454546;
    }
    
  </style>
   <div class="container">
<div class="container contact-form">
<div class="contact-image">
      <i></i>
  </div>
  

  <script>
        (function(){
        var txt = $("input#logchannel");
        var func = function() {
            txt.val(txt.val().replace(/\s/g, ''));
        }
        txt.keyup(func).blur(func);
    });
  </script>
  
  <form method="POST">
  
      
     <div class="row">
          <div class="col-md-6">
            
              <br><br>
                            <div class="form-group">
  <label> TEXT LEVELING UP CHANNEL<span style="color: rgb(175, 22, 22)">*</span></label>
   <div class="custom-select">
     <br>
<select  name ="logchannel" id="logchannel">
  <option value="<%=data.plugins.logs.logchannel%>">select</option>
  <% guild.channels.cache.map((channel)=>{ %>
<% if(channel.type === "GUILD_CATEGORY")return;%>
  <% if(channel.type ==="GUILD_VOICE") return;%>
    
    <option value="<%= channel.id %>"><%=channel.name%></option>
    <% }) %>
      </select>
    </div>
    
    
              </div>
  
  
  <br><br><br><br><br>
  <div class="form-group"> 
    
    
    <label></label>
    
    <h6> VARIABLES:</h6>
      <div class="variables">
        <span>{user}</span> <p>mention member</p>
    </div>
    <div class="variables">
 <span>{level}</span> <p>target new level of member</p>
    

    </div>
    

                         <div class="form-group">
      
           <br>   <br>
                             <label for="max">Maximum Point </label>                                     
  <input type="number" name="max" value="" id="max" />
                             <label for="min">Minimum Points</label>
   
   <input type="number" name="min" value="" id="min" />
  
                                          
   <br />
          <br>
                             <br>
              </div>        
              
      </div>  
      <br><br>      
      <br/>
   
      
      <button type="submit"id="myButton" onclick="clickOnAdd()" name="btnSubmit" class="btn btn-primary"><i class="fad fa-save"></i>Apply</button>
    </div>
    
  </form>
  

</div>
  </div>
<br><br>
  
  
      <script>
     
        
        
        
    function clickOnAdd() {
    
$("#myButton").attr("disabled", true);
    $("#myButton").html('<i class="p-2 fad fa-spinner fa-w-16 fa-pulse fa-lg"></i>');
    setTimeout(() => {
              $.post('/dashboard/guild/<%=guild.id%>/xpsystem',{
                logchannel:$('#logchannel').val(),
                logon:$('#logon').val(),
                channelCreate:$('#channelCreate').val(),
                channelDelete:$('#channelDelete').val(),
                roleCreate:$('#roleCreate').val(),
                 roleDelete:$('#roleDeletr').val(),
                roleUpdate:$('#roleUpdate').val(),
                
                
                
                
                
                
              }).done(function(data){
                if(data.error){
      const Toast = Swal.mixin({
  toast: true,
  position: 'top-end',
  showConfirmButton: false,
  timer: 4000,
  timerProgressBar: true,
  didOpen: (toast) => {
    toast.addEventListener('mouseleave', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
    }})
    
Toast.fire({
  icon: 'error',
  title: 'we have problem',
  text: data.message,
  footer: `<%=guild.name%>` + '<br>' + 'BoBo Dashboard',
  
})
                  
  $("#myButton").html('<i class="fal fa-paper-plane"></i>&nbsp;Submit');
                    $("#myButton").attr("disabled", false);
                    return;    
      
    
    
    
    }else{
     
  
      const Toast = Swal.mixin({
  toast: true,
  position: 'top-end',
  showConfirmButton: false,
  timer: 3000,
  timerProgressBar: true,
  didOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})

      
  Toast.fire({
  icon: 'success',
  title: 'successful...',
  text:data.message,
  footer:`<%=guild.name%>` + 'BoBo Dashboard',
    
  })
            $("#myButton").html('<i class="fal fa-paper-plane"></i>&nbsp;Submit');
                    $("#myButton").attr("disabled", false);
                    return;
    
    }
              });
    },2000 )
    }
      
        
   </script>
<%- include("../parts/foot.ejs")%>