<%- include ("../parts/sidebarguild",{bot,user}) %>
<br>
  <br>
  
  <style>
    .container .form-select {
     background:#717173;
      border:none;
      
      
    }
    .container .form-select .open{
      background:#717173;
      
    }
    
  </style>
   <div class="container">
<div class="container contact-form">
<div class="contact-image">
      <i></i>
  </div>
  
  <form method="POST">
  
      
     <div class="row">
          <div class="col-md-6">
            
    <br>
    <br>
    
  
  <div class="form-group">
  <label for="exampleDataList" class="form-label">LOGS CHANNEL <span style="color:rgba(175,22,22)">*</span></label>

<select class="form-select">
<% guild.channels.cache.map((channel)=>{%>
  <% if(channel.type==="GUILD_CATEGORY") return;%>
 <% if(channel.type === "GUILD_VOICE") return; %>
  
  <option value="<%= channel.id %>"><%=channel.name%></option>
    <% })%>
</select>
    
    
              </div>
  <br>

  <br><br><br><br><br>
  <div class="form-group">
    <label for="roleCreate">ROLE CREATE <span style="color:rgba(175,22,22)">*</span></label>
    <input class="form-control" list="datalist" id="roleCreate"/>
    <datalist id="datalist">

  <select class="select" id="roleCreate" aria-label="Default select example">
    <option selected>Open this select menu</option>
    <option value="on">ON</li>
 <option value="off">OFF</option>
    </select>
    </div>
     <br>
    <br>
    <br>
    
    <button type="submit" id="myButton" onclick="clickOnAdd()" name="btnSubmit" class="btn btn-primary"><i class="fad fa-save"></i>Apply</button>
    </div>
  </div>
  </form>
  

</div>
  </div>
<br><br>
  
  
      <script>
        
        
         const select = document.querySelector(".form-select")
         select.addEventListener('click',(e)=>{
      alert(e);
           select.classList.toggle("open");
           
           
         })
        
  
    function clickOnAdd() {
    
    
$("#myButton").attr("disabled", true);
    $("#myButton").html('<i class="p-2 fad fa-spinner fa-w-16 fa-pulse fa-lg"></i>');

    setTimeout(() => {
        $.post('/dashboard/guild/<%=guild.id%>/logsystem',{
                logchannel:$('#logchannel').val(),
                logon:$('#logon').val(),
                channelCreate:$('#channelCreate').val(),
                channelDelete:$('#channelDelete').val(),
                roleCreate:switchStatus,
                roleDelete:$('#roleDelete').val(),
                roleUpdate:$('#roleUpdate').val(),
                
        
    }).done(function(data){
                
                
                
                
                if(data.error){
      const Toast = Swal.mixin({
  toast: true,
  position: 'top-end',
  showConfirmButton: false,
  timer: 4000,
  timerProgressBar: true,
  didOpen: (toast) => {
    toast.addEventListener('mouseleave', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
    }})
    
Toast.fire({
  icon: 'error',
  title: 'we have problem',
  text: data.message,
  footer: `<%=guild.name%>` + '<br>' + 'BoBo Dashboard',
  
})
                  
  $("#myButton").html('<i class="fal fa-paper-plane"></i>&nbsp;Submit');
                    $("#myButton").attr("disabled", false);
                    return;    
      
    
    
    
    }else{
     
  
      const Toast = Swal.mixin({
  toast: true,
  position: 'top-end',
  showConfirmButton: false,
  timer: 3000,
  timerProgressBar: true,
  didOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})

      
  Toast.fire({
  icon: 'success',
  title: 'successful...',
  text:data.message,
  footer:`<%=guild.name%>` + 'BoBo Dashboard',
    
  })
            $("#myButton").html('<i class="fal fa-paper-plane"></i>&nbsp;Submit');
                    $("#myButton").attr("disabled", false);
                    return;
    
    }
              });
    },2000)
    }
      
        
   </script>
<%- include("../parts/foot.ejs")%>