<%- include ("../parts/sidebarguild",{bot,user}) %>
<br>
  <br>
  
  
  
   <div class="container">
<div class="container contact-form">
<div class="contact-image">
      <i></i>
  </div>
  
  <form method="POST">
  
      
     <div class="row">
          <div class="col-md-6">
            
    <br>
    <br>
  
      
      
      
  
      
       <div class="form-group d-flex">
       <label><h4 class="head">LOGS</h4></label>
     <div class="form-check form-switch">
       <% if(data.plugins.logs.enabled){ %>
  <input  class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
         <% } else{%>
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked">
           <% }%>
  <label class="form-check-label" for="flexSwitchCheckChecked"></label>
</div>      
           </div>
         
         <hr>
<div id="hama">
  <br><br>
  
  
      <div class="boxs">
           <div class="box-body">
            
             <div class= "form-group d-flex">
               <label><h4 class="head">Channel Create</h4></label>
               <div class="form-check form-switch">
                 <% if(data.plugins.logs.channelCreate.enabled){%>
                   <input class="form-check-input channelCreateonoff" type="checkbox" id="flexSwitchCheckChecked"checked>
                <% if(data.plugins.logs.channelCreate.color){%>

                     <label for="pickcolor"></label>
                     <input type="color" id="colorpicker" class="form-color channelCreatecolor" value="<%= data.plugins.logs.channelCreate.color%>">
                      <% } else{ %>
                        <label for="pickcolor"></lable>
                        <input type="color" class="form-color channelCreatecolor" id="colorpicker">
                        <% } %>
                   <% }else{%>
                     
                     <input class="form-check-input channelCreateonoff" type="checkbox" id"flexSwitchCheckChecked">
                     <% }%>
                      
             </div>
           </div>
                          </div></div>
      <hr>

  
  
  
  
  
  
  
  
  
    <button type="submit" id="myButton" onclick="clickOnAdd()" name="btnSubmit" class="btn btn-primary"><i class="fad fa-save"></i>Apply</button>
  
    </div>
  </div>
  </form>
  

</div>
  </div>
<br><br>
  
  
      <script>
            
  // document.getElementById("hama").style.display= "none";
        
        
       document.addEventListener('DOMContentLoaded', function () {

         
       var channelCreatecheck = document.querySelector('.channelCreateonoff')
      channelCreatecheck.addEventListener("change", function (){
        
 if(channelCreatecheck.checked){
         $.post("/dashboard/guild/<%= guild.id%>/logsystem",{
           channelCreateonoff:true
           
         })}else{
           $.post("/dashboard/guild/<%= guild.id%>/logsystem",{
             channelCreateonoff:false})
         }
         
         
                })
         
         
         
         
  var checkbox = document.querySelector('input[type="checkbox"]');
if(checkbox.checked){
  
  document.getElementById("hama").style.display ="block";
}else{ 
  document.getElementById("hama").style.display ="none";
};
  checkbox.addEventListener('change', function () {
    if (checkbox.checked) {
    document.getElementById("hama").style.display="block";
      
      $.post("/dashboard/guild/<%=guild.id%>/logsystem",{
        onoff:true,
      
      })
      
      // do this
    } else {
      
  document.getElementById("hama").style.display = "none";
      $.post("/dashboard/guild/<%=guild.id%>/logsystem",{
        onoff:false,
      
        
      })
      console.log("no cheked");
      // do that
    }
  });
}); 
        

    function clickOnAdd(){
    
    
$("#myButton").attr("disabled", true);
    $("#myButton").html('<i class="p-2 fad fa-spinner fa-w-16 fa-pulse fa-lg"></i>');

    setTimeout(() => {
        $.post('/dashboard/guild/<%=guild.id%>/logsystem',{
                logchannel:$('#logchannel').val(),
          onoff: true,
            
    }).done(function(data){
                
                
                
                
                if(data.error){
      const Toast = Swal.mixin({
  toast: true,
  position: 'top-end',
  showConfirmButton: false,
  timer: 4000,
  timerProgressBar: true,
  didOpen: (toast) => {
    toast.addEventListener('mouseleave', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
    }})
    
Toast.fire({
  icon: 'error',
  title: 'we have problem',
  text: data.message,
  footer: `<%=guild.name%>` + '<br>' + 'BoBo Dashboard',
  
})
                  
  $("#myButton").html('<i class="fal fa-paper-plane"></i>&nbsp;Submit');
                    $("#myButton").attr("disabled", false);
                    return;    
      
    
    
    
    }else{
     
  
      const Toast = Swal.mixin({
  toast: true,
  position: 'top-end',
  showConfirmButton: false,
  timer: 3000,
  timerProgressBar: true,
  didOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})

      
  Toast.fire({
  icon: 'success',
  title: 'successful...',
  text:data.message,
  footer:`<%=guild.name%>` + 'BoBo Dashboard',
    
  })
            $("#myButton").html('<i class="fal fa-paper-plane"></i>&nbsp;save');
                    $("#myButton").attr("disabled", false);
                    return;
    
    }
              });
    },2000)
    }
      
        
   </script>
<%- include("../parts/foot.ejs")%>