<%- include ("../parts/sidebarguild",{bot,user}) %>
<br>
  <br>
  
  
   <div class="container">
<div class="container contact-form">
<div class="contact-image">
      <i></i>
  </div>
  
  <form method="POST">
  
      
     <div class="row">
          <div class="col-md-6">
            
    <br>
    <br>
    
       <div class="form-group d-flex">
       <label><h4 class="head">welcome</h4></label>
     <div class="form-check form-switch">
       <% if(data.plugins.welcome.enabled){ %>
  <input  class="form-check-input" type="checkbox" id="welcomeswitch" checked>
         <% } else{%>
          <input class="form-check-input" type="checkbox" id="welcomeswitch">
           <% }%>
  <label class="form-check-label" for="flexSwitchCheckChecked"></label>
</div>      
           </div>
      <hr>
<div id="hama">
  <div class="form-group">
  <label for="channel" class="form-label">Welcome Channel <span style="color:rgba(175,22,22)">*</span></label>

<select id="channel" style="width:200px; background:#717179;color: white;">
<% guild.channels.cache.map((channel)=>{%>
  <% if(channel.type==="GUILD_CATEGORY") return;%>
 <% if(channel.type === "GUILD_VOICE") return; %>
  
  <option value="<%= channel.id %>"><%=channel.name%></option>
    <% })%>
</select>
    
        <h6> VARIABLES:</h6>
      <div class="variables">
        <span>{user}</span> <p>mention member</p>
    </div>
    <div class="variables">
 <span>{server}</span> <p>server name </p>
    </div>
    <div class="variables">
      <span>{membercount}</span><p>member count of server</p>
      
    </div>
    <div class="variables">
      <span>{inviter}</span><p>Mention inviter</p>
    </div>
    <br>
    <br>
    <% if(data.plugins.welcome.withImage){%>
    <input class="form-check-input" type="checkbox" id="withImg" checked>

    <label class="form-check-label" for="withImg">WithImage</label>
  <% }else{ %>
        <input class="form-check-input" type="checkbox" id="withImg">
      
    
    <label for="withImg">WithImage</label>
  <% }%>
    <br>
    <br>
    <textarea maxlength="600" style="width: 100%; height: 300px;" class="form-control"  id="welcomemessage" required><%= data.plugins.welcome.message%></textarea>
  </div> 
    
    
</div>
<hr>
  
  
  <br>
  <br>
      <br>
    <br>
    
       <div class="form-group d-flex">
       <label><h4 class="head">Goodbye</h4></label>
     <div class="form-check form-switch">
       <% if(data.plugins.goodbye.enabled){ %>
  <input  class="form-check-input" type="checkbox" id="flex" checked>
         <% } else{%>
          <input class="form-check-input" type="checkbox" id="flex">
           <% }%>
  <label class="form-check-label" for="flex"></label>
</div>      
           </div>
      <hr>
<div id="hama2">
  <div class="form-group">
  <label for="channel" class="form-label">Goodbye Channel <span style="color:rgba(175,22,22)">*</span></label>

<select id="goodbyechannel" style="width:200px; background:#717179;color: white;">
<% guild.channels.cache.map((channel)=>{%>
  <% if(channel.type==="GUILD_CATEGORY") return;%>
 <% if(channel.type === "GUILD_VOICE") return; %>
  
  <option value="<%= channel.id %>"><%=channel.name%></option>
    <% })%>
</select>
    
        <h6> VARIABLES:</h6>
      <div class="variables">
        <span>{user}</span> <p>mention member</p>
    </div>
    <div class="variables">
 <span>{server}</span> <p>server name </p>
    </div>
    <div class="variables">
      <span>{membercount}</span><p>member count of server</p>
      
    </div>
    <div class="variables">
      <span>{inviter}</span><p>Mention inviter</p>
    </div>
    <br>
    <br>
    
    <input type="checkbox" class="form-check-input" id="withImggoodbye">
    <label for="withImggoodbye">WithImg</label>
    <br>
    <br>
    <textarea class="form-control" maxlength="300" style="width:100%; height:300px;" id="goodbyemessage" required></textarea>
  </div> 
    
    
</div>


  <br><br>
    </div>
     <br>
    <br>
    <br>
    
    <button type="submit" id="myButton" onclick="clickOnAdd()" name="btnSubmit" class="btn btn-primary"><i class="fad fa-save"></i>Apply</button>
    </div>
  </div>
  </form>
  

</div>
  </div>
<br><br>
  
  
      <script>
            
  // document.getElementById("hama").style.display= "none";
        
     
        
        
       document.addEventListener('DOMContentLoaded', function () {
   
            
        
  var check = document.querySelector('input[id="flex"]');
         var checkimg = document.querySelector('input[id="withImggoodbye"]');
if(check.checked){
  
  document.getElementById("hama2").style.display ="block";
}else{ 
  document.getElementById("hama2").style.display ="none";
};
  checkimg.addEventListener('change', function () {
if(checkimg.checked){
  $.post("/dashboard/guild/<%=guild.id%>/goodbye",{
    withImg:true,
    goodbyeonoff:true,
  })}else{
    $.post("/dashboard/guild/<%=guild.id%>/goodbye",{
      withImg: false,
      goodbyeonoff:true,
    })}})
    check.addEventListener('change', function (){
           
    if (check.checked) {
    document.getElementById("hama2").style.display="block";
      
      $.post("/dashboard/guild/<%=guild.id%>/goodbye",{
        goodbyeonoff:true,
        
      
      })
      
      // do this
    } else {
      
  document.getElementById("hama2").style.display = "none";
      $.post("/dashboard/guild/<%=guild.id%>/goodbye",{
        goodbyeonoff:false,
        
      
        
        
      })
      // do that
    }
  });           
         
         
         //////////////   
         var checkbox2 = document.querySelector('input[id="withImg"]');
         
         checkbox2.addEventListener('change', function (){
           
         if(checkbox2.checked){
           $.post("/dashboard/guild/<%=guild.id%>/welcome",{
             withImg: true,
            onoff:true,
           });
         
         }else{
             $.post("/dashboard/guild/<%=guild.id%>/welcome",{
               withImg:false,
              onoff:true,
             });
         }///////////
         })
         
  var checkbox = document.querySelector('input[id="welcomeswitch"]');
if(checkbox.checked){
  
  document.getElementById("hama").style.display ="block";
}else{ 
  document.getElementById("hama").style.display ="none";
};
  checkbox.addEventListener('change', function () {
    
    if (checkbox.checked) {
    
    document.getElementById("hama").style.display="block";
      
      $.post("/dashboard/guild/<%=guild.id%>/welcome",{
        onoff:true,
        
      
      })
      
      // do this
    } else {
      
  let hama = document.getElementById("hama")
     hama.style.transition = "all 2s";
      ham.style.display = "none";
      $.post("/dashboard/guild/<%=guild.id%>/welcome",{
        onoff:false,
        
      
        
        
      })
      // do that
    }
  });
}); 
        

    function clickOnAdd(){
    
    
$("#myButton").attr("disabled", true);
    $("#myButton").html('<i class="p-2 fad fa-spinner fa-w-16 fa-pulse fa-lg"></i>');

    setTimeout(() => {

      
      
      $.post('/dashboard/guild/<%= guild.id%>/goodbye',{
        channel:$('#goodbyechannel').val(),
        message:$('#goodbyemessage').val(),
        goodbyeonoff: true
      })
      
      
  
              $.post('/dashboard/guild/<%=guild.id%>/welcome',{
                 channel:$('#channel').val(),
            
                 message:$('#welcomemessage').val(),
                 withImg: true,
                 onoff: true,
            
    }).done(function(data){
                
                
                
                
                if(data.error){
      const Toast = Swal.mixin({
  toast: true,
  position: 'top-end',
  showConfirmButton: false,
  timer: 4000,
  timerProgressBar: true,
  didOpen: (toast) => {
    toast.addEventListener('mouseleave', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
    }})
    
Toast.fire({
  icon: 'error',
  title: 'we have problem',
  text: data.message,
  footer: `<%=guild.name%>` + '<br>' + 'BoBo Dashboard',
  
})
                  
  $("#myButton").html('<i class="fal fa-paper-plane"></i>&nbsp;Submit');
                    $("#myButton").attr("disabled", false);
                    return;    
      
    
    
    
    }else{
     
  
      const Toast = Swal.mixin({
  toast: true,
  position: 'top-end',
  showConfirmButton: false,
  timer: 3000,
  timerProgressBar: true,
  didOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})

      
  Toast.fire({
  icon: 'success',
  title: 'successful...',
  text:data.message,
  footer:`<%=guild.name%>` + 'BoBo Dashboard',
    
  })
            $("#myButton").html('<i class="fal fa-paper-plane"></i>&nbsp;Submit');
                    $("#myButton").attr("disabled", false);
                    return;
    
    }
              });
    },2000)
    }
      
        
   </script>
<%- include("../parts/foot.ejs")%>