<%- include ("../parts/sidebarguild",{bot,user}) %>

  
<br>
  <br>
   <div class="container">
<div class="container contact-form">
<div class="contact-image">
      <i></i>
  </div>
  


  
  <form method="POST">
  
      
     <div class="row">
          <div class="col-md-6">
                <div class="form-group d-flex">
       <label><h4 class="head">LEVELING</h4></label>
     <div class="form-check form-switch">
       <% if(data.xp.onoff ==="on"){ %>
  <input  class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
         <% } else{%>
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked">
           <% }%>
  <label class="form-check-label" for="flexSwitchCheckChecked"></label>
</div>      
           </div>
   
              <br><br>
         <div id="hama">
                            <div class="form-group">
  <label> TEXT LEVELING UP CHANNEL<span style="color: rgb(175, 22, 22)">*</span></label>
   <div class="drop-down">
     <br>
<select class="xpchannel" name ="xpchannel" id="xpchannel">
  <option></option>
  <% guild.channels.cache.map((channel)=>{ %>
<% if(channel.type === "GUILD_CATEGORY")return;%>
  <% if(channel.type ==="GUILD_VOICE") return;%>
    <% if(data.xp.channel){%>
    <option value="<%= guild.channels.cache.get(data.xp.channel).id %>"><%=guild.channels.cache.get(data.xp.channel).name%></option>
    <% } else{%>
      <option value="<%= channel.id%>">#<%=channel.name%></option>
        <% }%>
                     
    <% }) %>
      </select>
    </div>
    
    
              </div>
  
  
  <br><br><br><br><br>
  <div class="form-group"> 
    
    
    <label></label>
    
    <h6> VARIABLES:</h6>
      <div class="variables">
        <span>{user}</span> <p>mention member</p>
    </div>
    <div class="variables">
 <span>{level}</span> <p>target new level of member</p>
    

    </div>
    
    
    
    <textarea name="xpmessage" id="xpmessage"></textarea>
  </div>       <br><br><br><br><br><br><br>     
                         <div class="form-group">
                                          <label> XP POINTS  <span style="color: rgb(175, 22, 22)">*</span></label>
           <br>   <br>
                             <label for="max">Maximum Point </label>                                     
  <input type="number" name="max" value="" id="max" />
                             <label for="min">Minimum Points</label>
   
   <input type="number" name="min" value="" id="min" />
  
                                          
   <br />
          <br>
                             <br>
              </div>        
      </div>
      </div>  
      <br><br>      
      <br/>
   
      
      <button type="submit"id="myButton" onclick="clickOnAdd()" name="btnSubmit" class="btn btn-primary"><i class="fad fa-save"></i>Apply</button>
    </div>
    
  </form>
  

</div>
  </div>
<br><br>
  
  
      <script>
    document.addEventListener('DOMContentLoaded', function () {
  var checkbox = document.querySelector('input[type="checkbox"]');
if(checkbox.checked){
  
  document.getElementById("hama").style.display ="block";
}else{ 
  document.getElementById("hama").style.display ="none";
};
  checkbox.addEventListener('change', function () {
    if (checkbox.checked) {
    document.getElementById("hama").style.display="block";
      
      $.post("/dashboard/guild/<%=guild.id%>/xpsystem",{
        onoff:"on",
      
      })
      
      // do this
    } else {
      
  document.getElementById("hama").style.display = "none";
      $.post("/dashboard/guild/<%=guild.id%>/xpsystem",{
        onoff:"off",
      
        
      })
      // do that
    }
  });
}); 
        
 
         
    function clickOnAdd() {
    
$("#myButton").attr("disabled", true);
    $("#myButton").html('<i class="p-2 fad fa-spinner fa-w-16 fa-pulse fa-lg"></i>');

    setTimeout(() => {

   
        $.post('/dashboard/guild/<%=guild.id%>/setting',{
                onoff:"on",
                message:$('#xpmessage').val(),
                 max: $('#max').val(),
                  min:$('#min').val(),
          channel:$('#xpchannel').val(),
                
        
    }).done(function(data){
                
                
                
                
                if(data.error){
      const Toast = Swal.mixin({
  toast: true,
  position: 'top-end',
  showConfirmButton: false,
  timer: 4000,
  timerProgressBar: true,
  didOpen: (toast) => {
    toast.addEventListener('mouseleave', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
    }})
    
Toast.fire({
  icon: 'error',
  title: 'we have problem',
  text: data.message,
  footer: `<%=guild.name%>` + '<br>' + 'BoBo Dashboard',
  
})
                  
  $("#myButton").html('<i class="fal fa-paper-plane"></i>&nbsp;Submit');
                    $("#myButton").attr("disabled", false);
                    return;    
      
    
    
    
    }else{
     
  
      const Toast = Swal.mixin({
  toast: true,
  position: 'top-end',
  showConfirmButton: false,
  timer: 3000,
  timerProgressBar: true,
  didOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})
document.getElement
      
  Toast.fire({
  icon: 'success',
  title: 'successful...',
  text:data.message,
  footer:`<%=guild.name%>` + 'BoBo Dashboard',
    
  })
            $("#myButton").html('<i class="fal fa-paper-plane"></i>&nbsp;Submit');
                    $("#myButton").attr("disabled", false);
                    return;
    
    }
              });});
    },2000)
    }
 
        
        
    
        
   </script>
<%- include("../parts/foot.ejs")%>