<%- include ('./parts/head.ejs',{bot,user})%>
  <h3 class="all-header">Welcome to my dashboard </h3>

  
  
          <div class ="row">
<% if(user){%>
<div class="boxs">
<div class="box1 box">

  <div class="containerB">
    <h3 class="bigText"><i class="fa-solid fa-credit-card"></i></h3>
      <p class="heading"><%=data.money.toLocaleString()%>$</p>
  </div>
                                       
</div>
  
<div class="box2 box">
    <div class="containerB">
     <h3 class="bigText"><i class="fa fa-users"></i><%= data.info%></h3>
      <p class="heading">Joins last 7 Days</p>
  </div>
</div>

  


<div class="box3 box">

    <div class="containerB">
      <h3 class="bigText"><i class="fa fa-users"></i><%= data.data.global_level%></h3>
        
    <p class="heading">Server members</p>
      </div>
                                       
</div>
  
<div class="box4 box">
    <div class="containerB">
      <h3 class="bigText"> </i>%></h3>
  <p class="heading">Channels</p>
       </div>
</div>



   
  
  
            </div>

</div>
   <% }%>         
<div style="padding-bottom: 20px;"></div>
  
  
  

  
  

  
  
  
  
  
  
  
  
  
  
  
  <%- include ('./parts/foot.ejs')%>