<%- include('./parts/head.ejs',{bot,user})%>
  
  
  
  
  <h3 class="all-header">Welcome to my dashboard </h3>

  
  
          <div class ="row">
<% if(user){%>
<div class="boxs">
<div class="box1 box">

  <div class="containerB">
    <h3 class="bigText"><i class="fa-solid fa-money-check-dollar"></i></h3>
      <p class="heading"><%=data.money.toLocaleString()%>$</p>
  </div>
                                       
</div>
  
<div class="box2 box">
    <div class="containerB">
      <h3 class="bigText"><i class="fa-solid fa-address-card"></i></h3>
      <p class="heading"><%=data.info%></p>
  </div>
</div>

  


<div class="box3 box">

    <div class="containerB">
      <h3 class="bigText"><i class="fa-solid fa-signal"></i></h3>
        
    <p class="heading"><%=data.data.global_level%></p>
      </div>
                                       
</div>
  
<div class="box4 box">
    <div class="containerB">
      <h3 class="bigText"></i><i class="fa-solid fa-medal"></i></h3>
  <p class="heading"><%=user_rank%></p>
       </div>
</div>



   
  
  
            </div>

</div>
   <% }%>         
<div style="padding-bottom: 20px;"></div>
  
  
  

  
  

  
  
  
  
  
  
  
  
  
  
  
  <%- include ('./parts/foot.ejs')%>