 <%- include ('./parts/meta.ejs',{bot,user})%>
 <style>
   .bot-info{
     
     
   }
   .bot-info{
     
    line-height:190px;
     
   }
   .bot-info .guild-info{
     color: white;
     font-size:22px;
     margin-left:22px;
     
   }
   .bot-info  span{
     
     font-size: 22px;
     color: pink;
     
   }
   .bot-info .user-info{
     
     color: white;
     font-size:22px;
     margin-left:22px;
   }
   
   
   </style>
  <br><br>
  <div class="fade-in">
    
  <div class="main-container">
   
      <img  src="<%= bot.user.displayAvatarURL()%>"/>
    
    <h3 class="bobo-text text-break">BOBO BOT DASHBOARD</h3>
    <div class="text-title">
    <p class="text-break">Welcome to AurtMix Discord Bot Dashboard you can add Welcome ,logs, moderation,  Auto roles and many many more!</p>
    </div>
  </div>
  </div>

 <br>
   
 <br>
  
 <br>
  
 <br>
  
 <br>
  
 <br>
  
 <br>
  
 <br>
  
 <br>
  
 <br>
  
       <div class="button-container">

         <ul>
        
         
        
 
         <% if (user){ %>
      <li class="dashboard"><a href="/dashboard">Dashboard</a></li>
           
          
          <br>
           <li><a href="/support">Discord</a></li>
           
     <br>
           <li class="invite"><a href="/invite">Invite</a></li>
      
        
        <% }else{%>
          
         <br> 
     <li class="login"><a href="/login">Login</a></li>
          
          <br>
          <li><a href="/support">Support</a></li>
      <br>
      
      <li><a href="/invite">Invite</a></li>
<% }%>

     
    </div>
          </ul>
    <br><br>
    <br>
    <br>  
    
    
    <div class="container">

    
  
  
 <div class="text-page">
   <div class="text-contet">
   <h3>XP SYSTEM</h3>
   <p>BoBo bot include powerful and amazing xp system with level </p>
   
   
   </div>
 </div>
  <div class="text-page">
   <div class="text-contet">
   <h3>SOCIAL</h3>
   <p>BoBo have a amazing profile and rank card with leaderboard </p>
   
   
   </div>
 </div>
 <div class="text-page">
   <div class="text-contet">
   <h3></h3>
   <p>BoBo bot include powerful and amazing xp system with level </p>
   
   
   </div>
 </div></div>
</div>
           
           <br>
           <br>
           
           
           <div class="bot-info">
          
             <div class="user-info">+<%= guild %> <i class='bx bxs-user'></i> <span>USERS</span></div>
                
      
                 <div class="guild-info">+<%=bot.guilds.cache.size%>
                   <i class='bx bxl-discord-alt' ></i> <span>SERVERS</span></div>
                
                
                   </div>
             
             
             
             















    
    <script>
     
     
     var typed = new Typed(".title-text", {
  strings: ["Welcome to my website", "Iam Gaming and Funny bot"],
  typeSpeed: 150,
  backSpeed: 150,
  loop: true

})</script>
<script src="../js/main.js"></script>
<%- include ('./parts/foot.ejs')%>