 <%- include ('./parts/meta.ejs',{bot,user})%>
 
  
  <div class="fade-in">
    
  <div class="main-container">
   
      <img  loading="lazy" src="<%= bot.user.displayAvatarURL()%>"/>
    
    <h3 class="bobo-text text-break">BOBO BOT DASHBOARD</h3>
    <div class="text-title">
    <p class="text-break">Welcome to BoBo Discord Bot Dashboard you can add Welcome ,logs, moderation,  Auto roles and many many more!</p>
    </div>
  </div>
  </div>

 <br>
   

       <div class="button-container">

         <ul>
        
         
        
 
         <% if (user){ %>
           <li><a href="/dashboard"><i class="fa-solid fa-share"></i>Dashboard</a></li>
           <br>
          
          
           <li><a href="/support"><i class="fa-brands fa-discord"></i>Discord</a></li>
           
     <br>
           <li><a href="/invite"><i class="fa-solid fa-share-nodes"></i>Invite</a></li>
      
        
        <% }else{%>
          
          
          <li class="login"><a href="/login"><i class="fa-solid fa-right-to-bracket"></i>Login</a></li>
          <br>
          
          <li><a href="/support"><i class="fa-brands fa-discord"></i>Discord</a></li>
      <br>
      
          <li><a href="/invite"><i class="fa-solid fa-share-nodes"></i>Invite</a></li>
<% } %>

  </ul>
    </div>
      
    <br><br>
 
    
    
    <div class="container">

    <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="https://imgur.com/xqWybNa.png" alt="Avatar"class="img-fluid">
    </div>
    <div class="flip-card-back">
      <h1>Profile</h1>
      <p>You can edit your profile with amazing features</p>
      <p>We can set your bio and Your birthday and many more</p>
    </div>
  </div>
</div>
      
  <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="https://imgur.com/oOt6KYD.png" alt="Avatar" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h1>John Doe</h1>
      <p>Architect & Engineer</p>
      <p>We love that guy</p>
    </div>
  </div>
</div>
      <!--
  
 <div class="text-page">
   <div class="text-contet">
   <h3>Leveling SYSTEM</h3>
     
   <p>BoBo bot include powerful and amazing xp system and leveling with Profile picture</p>
     <img src="https://imgur.com/xqWybNa.png" class="img-fluid">
   <div class="text-back">
     <h4>Profile</h4>
     <p> BoBo include amazing profile with customizable and edit any thing you want</p>
     </div>
   
   </div>
 </div>
  <div class="text-page">
   <div class="text-contet">
   <h3>LEADERBOARD</h3>
   <p>Guild leaderboard </p>
   <img ="https://imgur.com/oOt6KYD.png" class="img-fluid" alt="profile.png">
   
   </div>
 </div>
 <div class="text-page">
   <div class="text-contet">
   <h3>Amazing Welcomer </h3>
   <p> Beautiful Welcome with Image</p>
<img src="https://imgur.com/aYgyYeU.png" class="img-fluid" alt="Welcome">
   
   
   </div>
 </div>-->
      <br>
      <br>
      <h3> Short Information about yourself</h3>
    <img src="https://imgur.com/6znrlsb.png" class="img-fluid">
      
           <br>
      <br>
      <hr>
      <h3> Amazing Profile in Dashboard</h3>
        <img src="https://imgur.com/PlzYera.png" class="img-fluid">
  
           
           </div>

           
           <br>
           
           
           <ul class="bot-info">
          
             <li class="user-info">+<%= guild %> <i class='bx bxs-user'></i> <span>USERS</span></li>
                
      
                 <li class="guild-info">+<%=bot.guilds.cache.size%>
                   <i class='bx bxl-discord-alt' ></i> <span>SERVERS</span></li>
                
                
                   </ul>
             
             <style>
              .flip-card {
    height:400px;   
               
  background-color: transparent;
    margin-left:40px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
width:100%;
  height:100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {

  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
                 
                 
           </style>
             
    
<%- include ('./parts/foot.ejs')%>