 <%- include ('./parts/meta.ejs',{bot,user})%>
 
  
  <div class="fade-in">
    
  <div class="main-container">
   
      <img  loading="lazy" src="<%= bot.user?.displayAvatarURL()%>"/>
    
    <h3 class="bobo-text text-break">BOBO BOT DASHBOARD</h3>
    <div class="text-title">
    <p class="text-break">Welcome to BoBo Discord Bot Dashboard you can add Welcome ,logs, moderation,  Auto roles and many many more!</p>
    </div>
  </div>
  </div>

 <br>
   

       <div class="button-container">

         <ul>
        
         
        
 
         <% if (user){ %>
           <li><a href="/dashboard"><i class="fa-solid fa-share"></i>Dashboard</a></li>
           <br>
          
          
           <li><a href="/support"><i class="fa-brands fa-discord"></i>Discord</a></li>
           
     <br>
           <li><a href="/invite"><i class="fa-solid fa-share-nodes"></i>Invite</a></li>
      
        
        <% }else{%>
          
          
          <li class="login"><a href="/login"><i class="fa-solid fa-right-to-bracket"></i>Login</a></li>
          <br>
          
          <li><a href="/support"><i class="fa-brands fa-discord"></i>Discord</a></li>
      <br>
      
          <li><a href="/invite"><i class="fa-solid fa-share-nodes"></i>Invite</a></li>
<% } %>

  </ul>
    </div>
      
    <br><br>
 
    
    
    <div class="container">

    <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="https://boboworld.tk/img/xqWybNa_d.jpg" alt="Avatar"class="img-fluid">
    </div>
    <div class="flip-card-back">
      <h1>Profile</h1>
      <p>You can edit your profile with amazing features</p>
      <p>We can set your bio and Your birthday and many more</p>
    </div>
  </div>
</div>
      <br>
      <br>
      
  <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="https://imgur.com/oOt6KYD.png" alt="Avatar" class="img-fluid">
    </div>
    <div class="flip-card-back">
      <h1>Leaderboard</h1>
      <p>Our leaderboard with rank and level and xp of member on your server</p>
      
    </div>
  </div>
</div>
      <br>
      <br>
      
     <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="https://imgur.com/6znrlsb.png" alt="Avatar" class="img-fluid">
    </div>
    <div class="flip-card-back">
      <h1>Short information</h1>
      <p>Information about your account </p>
      <p>this information not all your information</p>
    </div>
  </div>
       <br>
       <br>
      </div><div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="https://imgur.com/PlzYera.png" alt="Avatar" class="img-fluid">
    </div>
    <div class="flip-card-back">
      <h1> profile In dashboard</h1>
      <p>Our dashboard include your profile to edit easy way</p>
      <p>You can edit some things about your Profile never change by any commands </p>
    </div>
  </div>
</div>
 
      
      
      
           </div>

           <br>
           <br>
           
           
           <ul class="bot-info">
          
             <li class="user-info">+<%= guild %> <i class='bx bxs-user'></i> <span>USERS</span></li>
                
      
                 <li class="guild-info">+<%=bot.guilds.cache.size%>
                   <i class='bx bxl-discord-alt' ></i> <span>SERVERS</span></li>
                
                
                   </ul>
             
             <style>
              .flip-card {
    height:400px;   
       
  background-color: transparent;
    
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
width:100%;
  height:100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {

  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
                 
                 
           </style>
             
    
<%- include ('./parts/foot.ejs')%>
